body {
background-image: url("http://www.powerpointhintergrund.com/uploads/2017/06/notebook-paper-background-for-powerpoint-clipartsgram--1.jpeg");
	color: hotpink;
	text-align: center;
}

a {
	color: black;
}